@font-face {
  font-family: 'Gelasio';
  src: url('fonts/Gelasio-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Necto Mono';
  src: url('fonts/Necto-Mono.woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-size: 15pt;
  --font-size-small: 10pt;
  --font-size-button: 11pt;
  --font-size-about: 12pt;
}

body {
  font-size: var(--font-size);
  font-family: 'Gelasio';
  /* cursor: none; */
}

.replaced .queneau {
  color: rgb(93, 166, 168);
}

button {
	font-family: 'Necto Mono';
	background: none;
	border: none;
	font-size: var(--font-size-button);
	border: 1px solid;
	padding: .3em 1em;
	color: #333;
	border-radius: 3px;
}

button:active {
  color: black;
}

button:disabled {
	color: #999;
}

.replaced .anthologie {
  /* letter-spacing: 1px; */
  color: #705c00;
  /* font-family: monospace; */
}

.anthologie .replaced .queneau {
  display: none;
}

.queneau .replaced .anthologie {
  display: none;
}

.poem--body.anthologie::before {
	content: "Une Anthologie";
	display: block;
	/* text-align: center; */
	margin-top: -2em;
  margin-bottom: 2em;
  font-size: var(--font-size-small);
  font-family: 'necto mono';
}

.poem--body.queneau::before {
	content: "Cent mille milliards de poèmes, Raymond Queneau";
	display: block;
	/* text-align: center; */
	margin-top: -2em;
	margin-bottom: 2em;
  font-size: var(--font-size-small);
  font-family: 'necto mono';
}

#about {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #efefef;
  padding-top: 3em;
  column-width: 350pt;
  column-fill: auto;
  font-size: var(--font-size);
  line-height: 1.3;
  padding: 5vh 3em;
}

#about[data-active] {
  display: initial;
}

h2 {
  column-span: all;
}

h2 + h2 {
  margin-bottom: 1.3em;
}

#about--close {
  position: absolute;
  top: 5vh;
  right: 3em;
}

#title {
  grid-row: title;
}

#controls {
  grid-row: controls;
  padding: 1em 1em 5vh 1em;
  text-align: center;
  display: grid;
  grid-template-columns: [left] 1fr [range] 50em [right] 1fr;
}

#middle {
  display: flex;
  flex-direction: row;
  grid-row: poem;
}

#poem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 3 0;
}

#about-short {
  flex: 1 0;
  line-height: 1.3;
  /* font-size: var(--font-size-about); */
  padding: 1em;
  color: #444;
  display: none;
}

h2, h3 {
  font-family: 'Necto Mono';
}

p {
  margin-bottom: 1.3em;
}

#poem--meta {
  text-align: center;
  font-family: monospace;
}

.poem--body {
  margin: 1em 0 4em 0;
  background: white;
  padding: 3em;
  flex: 0 0 25em;
  line-height: 1.6;
  position: relative;
}

.poem--body.queneau {
  background: transparent;
}

.poem--body.queneau .poem--metadata {
  display: none;
}

.poem--body.queneau .line {
	visibility: hidden;
}

.poem--body.queneau .line .queneau {
	visibility: visible;
}


body {
  background: #efefef;
}

main {
  height: 100vh;
  display: grid;
  grid-template-rows: [title] 4vh [poem] 1fr [controls] min-content;
}

main, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --control-color: #666;
}

.range--wrapper {
  display: flex;
  flex-direction: row;
}

.range--wrapper label {
  flex: 0 0 12em;
  padding-top: .4em;
  font-family: 'Necto Mono';
  font-size: 85%;
}

.range--input--wrapper {
  /* margin: auto; */
  margin-left: 1em;
  margin-right: 1em;
  flex: 1 0;
  /* grid-column: range; */
  height: 1.5em;
  position: relative;
  background: linear-gradient(to right,
    transparent 0%,
    var(--control-color) 0%,
    var(--control-color) calc(0% + 1px),
    transparent calc(0% + 1px),
    transparent 12.5%,
    var(--control-color) 12.5%,
    var(--control-color) calc(12.5% + 1px),
    transparent calc(12.5% + 1px),
    transparent 25%,
    var(--control-color) 25%,
    var(--control-color) calc(25% + 1px),
    transparent calc(25% + 1px),
    transparent 37.5%,
    var(--control-color) 37.5%,
    var(--control-color) calc(37.5% + 1px),
    transparent calc(37.5% + 1px),
    transparent 50%,
    var(--control-color) 50%,
    var(--control-color) calc(50% + 1px),
    transparent calc(50% + 1px),
    transparent 62.5%,
    var(--control-color) 62.5%,
    var(--control-color) calc(62.5% + 1px),
    transparent calc(62.5% + 1px),
    transparent 75%,
    var(--control-color) 75%,
    var(--control-color) calc(75% + 1px),
    transparent calc(75% + 1px),
    transparent 87.5%,
    var(--control-color) 87.5%,
    var(--control-color) calc(87.5% + 1px),
    transparent calc(87.5% + 1px),
    transparent calc(100% - 1px),
    var(--control-color) calc(100% - 1px)),
    linear-gradient(to bottom, transparent 50%, var(--control-color) 50%, var(--control-color) calc(50% + 1px), transparent calc(50% + 1px));
}

input[type="range"] {
	position: absolute;
	top: 0;
	/* right: -12px; */
	bottom: 0;
	left: -9px;
	width: calc(100% + 14px);
	height: 100%;
}
/* 
#label--technique {
  position: absolute;
  right: 100%;
  padding-right: 1em;
}

#label--nature {
  position: absolute;
  left: 100%;
  padding-left: 1em;
} */

.side-column {
  text-align: center;
}

.poem--metadata {
  font-family: 'Necto Mono';
  font-size: var(--font-size-small);
  position: absolute;
  bottom: 3em;
}